<a href="https://colab.research.google.com/github/caarmeencv/SXE_2526/blob/main/Copia_de_Ejercicios_sin_soluciones_Ampliando_conocimientos_de_Python_Iniciaci%C3%B3n_a_la_programaci%C3%B3n_con_Python_OCW_ULL_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Cuaderno con ejercicios (sin soluciones) del tema *Ampliando conocimientos de Python*.

Este cuaderno forma parte del curso de [Iniciación a la programación con Python](https://campusvirtual.ull.es/ocw/course/view.php?id=179) del programa de Open Course Ware (OCW) de la Universidad de La Laguna.

En este cuaderno encontrarás una serie de ejercicios con su enunciado, seguido de celdas de código en las que podrás realizarlos.

Puedes acceder al cuaderno sin las soluciones pichando en [este enlace](https://colab.research.google.com/drive/1G1F34koXm7W1DpBCMlHTXBzPrSo1ZafT).

## Ejercicio 1

Comprueba si una edad almacenada en una variable es mayor de edad, es decir, que su valor sea mayor de 18. Si es así, imprime el texto `Eres mayor de edad`. En caso contrario, imprime el texto `NO eres mayor de edad`.

In [ ]:
def esmayor(edad):
    if edad >= 18:
        return "Es mayor de edad"
    else:
        return "NO es mayor de edad"

In [ ]:
print(esmayor(20))

Es mayor de edad

## Ejercicio 2

Dada una nota almacenada en una variable, imprime su equivalente:

*   Mayor o igual a 0, pero menor que 5, `SUSPENSO`.
*   Mayor o igual a 5, pero menor que 6, `SUFICIENTE`.
*   Mayor o igual a 6, pero menor que 7, `BIEN`.
*   Mayor o igual a 7, pero menor que 9, `NOTABLE`.
*   Mayor o igual a 9, pero menor o igual a 10, `SOBRESALIENTE`.

En cualquier otro caso, imprimir el texto: `NOTA NO VÁLIDA`.

In [ ]:
nota = 5
if 0 <= nota < 5:
    print("SUSPENSO")
elif 5 <= nota < 6:
    print("SUFICIENTE")
elif 6 <= nota < 7:
    print("BIEN")
elif 7 <= nota < 9:
    print("NOTABLE")
elif 9 <= nota <= 10:
    print("SOBRESALIENTE")
else:
    print("NOTA NO VÁLIDA")

SUFICIENTE

## Ejercicio 3

Existen dos variables, una con un nombre y otra con un apellido. Primero se ha de comprobar el nombre, si es igual a `Daniel`, se comprueba el apellido, si es igual a `Ramos`, se imprime por pantalla el texto `Nombre y apellido correctos`. En caso de que el nombre sea `Daniel`, pero el apellido no sea `Ramos`, se imprime por pantalla el texto `Apellido incorrecto`. En caso que el nombre no sea `Daniel`, se imprime por pantalla el texto `Usuario desconocido`.

In [ ]:
def comprobar(nombre,apellido):
  if nombre == "Daniel":
    if apellido == "Ramos":
        print("Nombre y apellido correctos")
    else:
        print("Apellido incorrecto")
  else:
    print("Usuario desconocido")

In [ ]:
comprobar("daniel","vilas")

Usuario desconocido

## Ejercicio 4

Dada una lista con diferentes notas, se debe imprimir la más baja y la más alta.

In [ ]:
notas = [4, 7, 2, 9, 5]
print("Nota más baja:", min(notas))
print("Nota más alta:", max(notas))

Nota más baja: 2
Nota más alta: 9

## Ejercicio 5

Comprobar si la fruta `cereza` se encuentra en una lista de frutas. En caso afirmativo, imprimir por pantalla el texto `Cereza SÍ está en la lista`. En caso contrario, imprimir por pantalla el texto `Cereza NO está en la lista`.

In [ ]:
frutas = ["manzana", "pera", "plátano", "cereza"]
if "cereza" in frutas:
    print("Cereza SÍ está en la lista")
else:
    print("Cereza NO está en la lista")

Cereza SÍ está en la lista

## Ejercicio 6

Dada una lista con tres elementos (nombre y dos apellidos), imprime solo los dos apellidos utilizando índices.

In [ ]:
datos = ["Juan", "Pérez", "García"]
print(datos[1:])

['Pérez', 'García']

## Ejercicio 7

Utilizando rangos, suma el valor de todos los números pares desde el 2 (inclusive) hasta el 100 (inclusive).

In [ ]:
suma = 0
rango = range(2, 102, 2)
for i in rango:
  suma+=i
print(suma)

2550

## Ejercicio 8

Imprimir la tabla de multiplicar de un número almacenado en una variable utilizando rangos. La salida para el número 5 sería:  
`5 * 1 = 5`  
`5 * 2 = 10`  
...

In [ ]:
numero=5
resultado=0
tabla=range(1,11)
for i in tabla:
  resultado=numero*i
  print(numero,"*",i,"=",resultado)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

## Ejercicio 9

Utilizando un bucle `for`, imprimir todos los elementos de una lista.

In [ ]:
lista = ["manzana", "pera", "plátano", "cereza"]
for i in lista:
  print(i)

manzana
pera
plátano
cereza

## Ejercicio 10

Utilizando un bucle `while`, imprimir todos los elementos de una lista.

In [ ]:
lista = ["manzana", "pera", "plátano", "cereza"]
i=0
while i < len(lista):
  print(lista[i])
  i+=1

manzana
pera
plátano
cereza

## Ejercicio 11

Utilizando un bucle `for`, imprimir cada uno de los caracteres de una cadena de texto por separado.

In [ ]:
cadena="carmen"
for i in cadena:
  print(i)

c
a
r
m
e
n

## Ejercicio 12

Utilizando bucles `for`, imprimir el siguiente dibujo:  
`*`  
`**`  
`***`  
`****`  
`*****`  
`****`  
`***`  
`**`  
`*`

In [ ]:
cadena="*"
for i in range(1,6):
  print(cadena*i)
  if i==5:
    for j in range(4,0,-1):
      print(cadena*j)

*
**
***
****
*****
****
***
**
*

## Ejercicio 13

Utilizando bucles `while`, imprimir el siguiente dibujo:

`*`  
`**`  
`***`  
`****`  
`*****`  
`****`  
`***`  
`**`  
`*`

In [ ]:
cnt=0
while cnt<=5:
  print("*"*(cnt+1))
  cnt+=1
  while 5<cnt<10:
    print("*"*(10-cnt))
    cnt+=1

*
**
***
****
*****
******
****
***
**
*

## Ejercicio 14

Imprimir todas las tablas de multiplicar del 1 a 9, ambos inclusive. Por ejemplo:
`1 * 1 = 1`  
`1 * 2 = 2`  
...  
`2 * 1 = 2`  
`2 * 2 = 4`  
...  
`9 * 1 = 9`  
`9 * 1 = 18`

In [ ]:
def tabMultioplicar(numero):
  resultado=0
  tabla=range(1,11)
  for i in tabla:
    resultado=numero*i
    print(numero,"*",i,"=",resultado)

In [ ]:
tabMultioplicar(9)

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

## Ejercicio 15

Imprimir los árboles de la lista hasta que aparezca `nogal`.

Utiliza la variable `arboles = ["manzano", "pino", "madroño", "eucalipto", "nogal", "olivo", "almendro"]`.

In [ ]:
arboles = ["manzano", "pino", "madroño", "eucalipto", "nogal", "olivo", "almendro"]
for arbol in arboles:
  if arbol == "nogal":
    print(arbol)
    break

nogal

## Ejercicio 16

Imprimir los árboles de la lista hasta que aparezca `ficus`. En caso de que no se encuentre `ficus` en la lista, al finalizar, imprimir por pantalla: `El árbol ficus no está en la lista`.

Utiliza la variable `arboles = ["manzano", "pino", "madroño", "eucalipto", "nogal", "olivo", "almendro"]`.

In [ ]:
arboles=["manzano", "pino", "madroño", "eucalipto", "nogal", "olivo", "almendro"]
for arbol in arboles:
  if arbol == "ficus":
    print(arbol)
    break
  else:
    print("El árbol ficus no está en la lista")

## Ejercicio 17

Utilizando bucles, imprimir de una lista de números todos aquellos que no sean pares.

Utiliza la variable `numeros = [4,6,7,8,23,21,999,10,13,65,72]`.

In [ ]:
numeros = [4,6,7,8,23,21,999,10,13,65,72]
for i in numeros:
  if i%2==0:
    continue
  print(i)

7
23
21
999
13
65

## Ejercicio 18

Definir una función que, al recibir una cadena de texto, cuente cuántas vocales hay y devuelva dicho valor.

Dada la cadena, imprimir `La cantidad de vocales en el texto es: `.

## Ejercicio 19

Definir una función que, al recibir una cadena de texto, cuente cuántas palabras hay y devuelva dicho valor.

Dada la cadena, imprimir `La cantidad de palabras en el texto es: `.

## Ejercicio 20

Definir una función que devuelva la suma dos números. Utilizar esa función para sumar tres números.