<a href="https://colab.research.google.com/github/caarmeencv/SXE_2526/blob/main/Ejercicios_sin_soluciones_Librer%C3%ADas_Iniciaci%C3%B3n_a_la_programaci%C3%B3n_con_Python_OCW_ULL_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Cuaderno con ejercicios (sin soluciones) del tema *Librerías*.

Este cuaderno forma parte del curso de [Iniciación a la programación con Python](https://campusvirtual.ull.es/ocw/course/view.php?id=179) del programa de Open Course Ware (OCW) de la Universidad de La Laguna.

En este cuaderno encontrarás una serie de ejercicios con su enunciado, seguido de celdas de código en las que podrás realizarlos.

Puedes acceder al cuaderno sin las soluciones pichando en [este enlace](https://colab.research.google.com/drive/1qfoTqwcs2Ip5aPqpMZg79Igzg5D7R-Pa).

## Ejercicio 1

Utilizando la librería `math`, calcular el área de un círculo dado su radio.

In [1]:
import math
radio = 6
area = math.pi * radio ** 2
print(area)

113.09733552923255

## Ejercicio 2

Utilizando la librería `math`, definir una función que devuelva la raíz cuadrada de un número.

In [12]:
def calcularraiz(x):
  return math .sqrt(x)
  print(calcularraiz(9))

## Ejercicio 3

Utilizando la función del ejercicio anterior, calcular las raíces cuadradas de 5 números enteros generados de manera aleatoria entre 12 y 120, utilizando la librería `random`.

In [3]:
import random
for i in range(5):
  numero = random.randint(12,120)
  resultado = calcularraiz(numero)
  print(resultado)

9.9498743710662
4.47213595499958
4.898979485566356
9.9498743710662
10.816653826391969

## Ejercicio 4

Definir una función que reciba dos argumentos y permita calcular el seno, coseno o la tangente de un ángulo. El primero de los argumentos consiste en una cadena de texto que determina que operación realizar, y el segundo consiste en el ángulo en grados, que se debe convertir a radianes.

Utilizar la librería `math`.

In [13]:
def calculoGEO(tipo:str, grado:int):
  if tipo == "seno":
    return math.sin(grado)
  elif tipo == "coseno":
    return math.cos(grado)
  elif tipo == "tangente":
    return math.tan(grado)
  else:
    return "No existe ese tipo"

In [16]:
print (calculoGEO("tangente", 20))

2.237160944224742

## Ejercicio 5

Utilizando la librería `datetime`, calcular la diferencia en años, meses y días entre dos fechas.

In [25]:
import datetime
fecha_1 = datetime.datetime(2012,12,12)
fecha_2 = datetime.datetime(2022,12,12)

df = fecha_2-fecha_1
años = df.days // 365
dias = df.days
meses = dias // 30
print("Han pasado ", años, " años,", meses, " meses y ", dias, " dias.")

Han pasado  10  años, 121  meses y  3652  dias.

## Ejercicio 6

Utilizando la librería `numpy`, realizar el producto escalar de dos vectores.

In [26]:
import numpy

vector_1 = numpy.array([2,4,6])
vector_2 = numpy.array([3,6,9])

print("Producto de dos vectores: ", numpy.dot(vector_1, vector_2))

Producto de dos vectores:  84

## Ejercicio 7

Utilizando la librería `numpy`, resolver un sistema de ecuaciones lineal. Por ejemplo:  
`7x + 8y = 23.5`  
`2.4x - 2y = 17`

In [28]:
import numpy

ec_1 = numpy.array([[7,8],[2.4,-2]])
ec_2 = numpy.array([23.5,17])

solucion = numpy.linalg.solve(ec_1, ec_2)
print("La solucion es:", solucion)

La solucion es: [ 5.51204819 -1.88554217]

## Ejercicio 8

Utilizando la librería `pandas`, calcular la calificación media de unas estudiantes.

Los datos serían:
```python
nombres = ["María","Mercedes","Miriam","Mónica"]
calificaciones = [[2,4.5,9],[5,3,10],[7.5,8.3,9],[4,6.5,7]]
```

In [31]:
import pandas
nombres = ["María","Mercedes","Miriam","Mónica"]
calificaciones = [[2,4.5,9],[5,3,10],[7.5,8.3,9],[4,6.5,7]]
pandas.DataFrame({'Nomes':nombres, 'Calificacions':calificaciones})

      Nomes  Calificacions
0     María    [2, 4.5, 9]
1  Mercedes     [5, 3, 10]
2    Miriam  [7.5, 8.3, 9]
3    Mónica    [4, 6.5, 7]

## Ejercicio 9

Teniendo en cuenta el ejercicio anterior, mostrar en un gráfico las calificaciones medias usando `matplotlib`, en un gráfico de barras con etiquetas de datos en cada una de las barras.

## Ejercicio 10

Utilizando la función de la raíz cuadrada del ejercicio 2, y las librerías `math`, `random` y `matplotlib`, generar un gráfico de dispersión en el que se muestre 20 números enteros aleatorios entre el 0 y 100 en el eje x, y su raíz cuadrada en el eje y.